
@import url('https://fonts.googleapis.com/css2?family=Georama:ital@1&display=swap');

/* color storing */
:root{
    --primarycolor: #2000d4;
}
body{
    padding: 5px;
    font-family: 'Georama';
 }

/* containers */
.container{
    padding: 0rem, 1 rem ;  
}
.container-centre{
    max-width: 600px;
    margin: auto;
}
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
  color: #ffffff;  
  background-color: var(--primarycolor) ;
  /* border */
 border-radius: 0.5rem;
}
.link-secondary{
    color: var(--primarycolor);
    /* round border */
border:1px solid var(--primarycolor) ; 
border-radius: 0.5rem;

}

hr{
    margin: 2rem 0rem;
}


