
@import url('https://fonts.googleapis.com/css2?family=Georama:ital@1&display=swap');

/* color storing */
:root{
    --primarycolor: #7802ff;
    --secondarycolor: aquamarine;
    --darkgray: rgb(114, 114, 114);
    --offwhite: rgb(202, 202, 202);
}
body{
    padding: 0.5px;
    font-family: 'Georama';
    margin: 0px;
   
 }

/* containers */
.container{
    padding: 0rem, 1 rem ;  
}
.container-centre{
    max-width: 600px;
    margin: auto;
}
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: right;
}
.link-primary{
  color: #ffffff;  
  background-color: var(--primarycolor) ;
  /* border */
 border-radius: 0.5rem;
}
.link-secondary{
    color: var(--primarycolor);
    /* round border */
border:1px solid var(--primarycolor) ; 
border-radius: 0.5rem;

}

hr{
    margin: 2rem 0rem;
}
/* list */
.list-non-bullet{
    list-style: none;
}
/* reversed in html */
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* navbar */
.navigation{
color: rgb(255, 255, 255);
background-color: var(--primarycolor);
padding: 0.5rem 0.5rem ;
border-bottom-left-radius: 1rem;
}

.navigation .link{
  color: white; 

}
.navigation .nav-pills{
text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}
.link-active{
    font-weight: bold;
}

/* header */

.hero .hero-img{
    max-width: 150 px;
    margin: auto;
    max-height: 250px; 
    display: block;
}

 .hero .hero-heading{
    padding-top:rem;
    color: var(--darkgray);
    text-align: center;
  
}

.hero .hero-heading .heading-inverted{
    color: aquamarine;
}

/* section */
.section{
    padding: 2rem;
}
.section h1{
text-align: center;
}
.ow{
    background-color: var(--offwhite);
}
.container-centre{
    text-align: center;
}

/* footer */
.footer{
    background-color: var(--primarycolor);
padding: 2rem 1rem;
text-align: center;
color: white;
padding-inline-start: none;
}